{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'vote/css/check-div.css' %}">
    <link rel="stylesheet" href="{% static 'vote/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'vote/css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">

    <title>Digital Voting System</title>
</head>
<body>
<div class="notfooter">
<nav>
            <div class="bg"></div>
            <div class="above">
                <label class="logo">KJSIEIT</label>
                <ul>
                    <li class="element" align="center" id="Home"><a class="ref" href="{% url '' %}">Home</a></li>
                    <li class="element" align="center"><a class="ref" href="{% url 'check-div' %}">Register</a></li>
                </ul>
            </div>
</nav>

<div class="panel-heading"><h1>Select Your Respective Division</h1></div>
<div class="card">
<div class="actions">
<a class="link" href="{% url 'register-user-A' %}">Comps A</a>
<a class="link" href="{% url 'register-user-B' %}">Comps B</a>
</div>
</div>
</div>

<div class="footer">
    <div class="footext">
      Connect With Us:
    </div>
    <div class="social">
    <ul>
      <li class="fa" align="center" id="Instagram"><a class="ref" href="https://www.instagram.com/kjsieit_official/">&nbsp;</a></li>
      <li class="fa" align="center" id="Facebook"><a class="ref" href="https://www.facebook.com/kjsieitofficial">&nbsp;</a></li>
      <li class="fa" align="center" id="Twitter"><a class="ref" href="https://twitter.com/kjsieit1">&nbsp;</a></li>
      <li class="fa" align="center" id="Linkedin"><a class="ref" href="https://www.linkedin.com/school/kjsomaiya-institute-of-engineering-and-information-technology/">&nbsp;</a></li>
      <li class="fa" align="center" id="Youtube"><a class="ref" href="https://www.youtube.com/kjsieitofficial">&nbsp;</a></li>
    </ul>
    </div>
    <div class="footer2">
      <div>Guided By Payal Varangaonkar</div>
      <div>Developed By: Yatharth Wazir, Parth Shah, Tanisha Kaur, Siddhanth Shah</div>
    </div>
</div>
</body>
</html>
<script>
    window.onload = function () {
        document.documentElement.classList.add('go');
    };
</script>
{% endblock %}