{% extends 'vote/navbar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'vote/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'vote/css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <title>Digital Voting System</title>
</head>

<body>
<div class="notfooter">
    <div class="login">
        <h1>Login</h1>
        <form method="post" autocomplete="on" action="http://127.0.0.1:8000/login/">
          {% csrf_token %}
            <input type="email" name="u" placeholder="Email Address" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />
            <input type="submit" class="btn btn-primary btn-block btn-large" />
        </form>
    </div>  
</div>

<div class="footer">
    <div class="footext">
      Connect With Us:
     </div>
    <div class="social">
    <ul>
      <li class="fa" align="center" id="Instagram"><a class="ref" href="https://www.instagram.com/kjsieit_official/">&nbsp;</a></li>
      <li class="fa" align="center" id="Facebook"><a class="ref" href="https://www.facebook.com/kjsieitofficial">&nbsp;</a></li>
      <li class="fa" align="center" id="Twitter"><a class="ref" href="https://twitter.com/kjsieit1">&nbsp;</a></li>
      <li class="fa" align="center" id="Linkedin"><a class="ref" href="https://www.linkedin.com/school/kjsomaiya-institute-of-engineering-and-information-technology/">&nbsp;</a></li>
      <li class="fa" align="center" id="Youtube"><a class="ref" href="https://www.youtube.com/kjsieitofficial">&nbsp;</a></li>
    </ul>
  </div>
  <div class="footer2">
    <div>Guided By Payal -------</div>
    <div>Developed By: Yatharth Wazir, Parth Shah, Tanisha Kaur, Siddhanth Shah</div>
  </div>
  </div>
    
</body>
<script>
    window.onload = function () {
        document.documentElement.classList.add('go');
    };
</script>

</html>
{% endblock %}