{% extends "vote/b_finalnav.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'vote/css/piechart.css' %}">

<div class="card">
  <h1>B Division Poll :</h1>
  <h1>{{poll.Elections_for}}</h1>
  <div class = "chart">
    <canvas id="myChart"></canvas>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const config={
        type: "pie",
        data:{
            datasets:[{
                data:[{{poll.percentage_candidate_1}},{{poll.percentage_candidate_2}},{{poll.percentage_candidate_3}}],
                backgroundColor: ["cyan", "DodgerBlue", "aquamarine"]
                
            }],
            labels:["{{poll.candidate_1}}","{{poll.candidate_2}}","{{poll.candidate_3}}"]
        },
        options:{
            responsive:true
        }
    };
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
    window.onload = function () {
        document.documentElement.classList.add('go');
    };
  </script>
  {% endblock %}


