{% extends 'vote/navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'vote/css/evote.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Digital Voting System</title>
</head>
<body>
    <div class="panel-heading"><h1>Cast Your Vote</h1></div>
        <div class="panel">
            <div class="panel-body">
                    <div class="title">
                        <h2>{{poll.Elections_for}}</h2>
                    </div>
                        <hr>
                    <form method="POST">
                         {% csrf_token %}
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" name="poll" value="option1" required>{{poll.candidate_1}}
                                    </label> &nbsp;
                                <label><input type="radio" name="poll" value="option2" required>{{poll.candidate_2}}
                                    </label> &nbsp;
                                <label><input type="radio" name="poll" value="option3" required>{{poll.candidate_3}}
                                    </label> &nbsp;
                            </div>
                        </div>
                        <button type="submit" class="btn">
                            Submit
                        </button>
                    </form>
            </div>
        </div>
</body>
<script>
    window.onload = function () {
        document.documentElement.classList.add('go');
    };
</script>
</html>
{% endblock %}